<!DOCTYPE html>
<html>
<head>
  <title>Whatnow</title>
  <%= stylesheet_link_tag    "whatnow/application", media: "all" %>
  <%= javascript_include_tag "whatnow/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
